In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import os

In [19]:
itmo_url = 'http://mse.itmo.ru/alumni'

In [20]:
r = requests.get(itmo_url)
soup = BeautifulSoup(r.text, 'html.parser')

In [34]:
titles = []
names = []
images = []
for title, name, image in zip(soup.find_all('div', {'class': 't214__descr t-text'}),
               soup.find_all('div', {'class': 't214__title t-name t-name_sm'}),
               soup.find_all('meta', {'itemprop':'image'})):

    titles.append(title.text)
    names.append(name.text)
    images.append('http://mse.itmo.ru/' + image['content'])

In [38]:
df = pd.DataFrame({'name': names, 'titles': titles, 'images': images})

In [37]:
df.to_csv('itmo_students.csv')

In [39]:
df.head()

,name,titles,images
0,Роман Голышев,"Тема диплома: ""Поддержка процедурных макросов ...",http://mse.itmo.ru/images/tild6339-6361-4437-b...
1,Валерия Горячева,"Тема диплома: ""Разработка модуля выявления и о...",http://mse.itmo.ru/images/tild3235-6231-4137-a...
2,Антон Егоров,"Тема диплома: ""Генерация подсказок поисковой с...",http://mse.itmo.ru/images/tild3539-3430-4535-b...
3,Алексей Зубаков,"Тема диплома: ""Автоматическое построение платф...",http://mse.itmo.ru/images/tild3034-6132-4564-a...
4,Владислав Калинин,"Тема диплома: ""GEO Data Server"" (руководитель ...",http://mse.itmo.ru/images/tild3033-3831-4533-b...

In [44]:
path = 'itmo_photos'
for idx in range(len(df)):
    img_data = requests.get(df.images[idx]).content
    with open(os.path.join(path, f'{df.name[idx].split()[1]}.png'), 'wb') as handler:
        handler.write(img_data)